doctype html
html(lang="en")

 body
    style.
      body {
        background-image: url('https://unsplash.com/photos/wX2L8L-fGeA/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8MXx8Z2l0aHVifGVufDB8fHx8MTcwMTYyNzc1Nnww&force=true&w=2400');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .center {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); 
        font-size: 30px;
        color: green;
      }

    .container
        .center 
              p Successful Login! Welcome #{message} :)
              
        